@import url('colors.less');
@import url('mixin.less');

body {
    width: 100%;
    height: 100%;
    background: @primary;
    a{
        color:#0c0c17;
        &:hover{
            color: #3c3c3c;
            text-decoration: dashed;
        }
    }
}

html {
    width: 100%;
    height: 100%;
}

header{
    background: url(../img/headbg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100vh;
    margin: 0 auto;

    .header-inner {
        /* limit width*/
        max-width: 50%;

        /* center */
        margin: 0 auto;

        /* space out parent */
        padding: 300px 10px 50px;

        h1 {
            font-size: 60px;
            letter-spacing: -2px;

            color: #000;
        }
        h2 {
            font-weight: lighter;
            font-size: 32px;
            color: #000;
        }
        a{
            font-size:40px;
        }
    }

}


ul {
    display: inline-block;
    padding-left: 0px;

    li {
        display: block;
        color: #fff;
        list-style-type: none;
    }
}

.navigation{
    ul{
        li{
            display: inline;
        }
    }
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.section-text {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.7;
    padding:50px 30px;
}

.section-title{
    span{
        font-family: 'Lato';
        font-weight: 700;
    }
    h1, h2 {
        line-height: 50px;
        font-family: 'Lato';
        font-weight: 300;
        margin-top: 0;
    }
    display: block;
    margin: 0 auto;
    font-weight: 300;
}

.section-title-more {
    display: inline-block;
    position: relative;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .65em;
    margin-right: -0.65em;
    font-size: 8px;

}

.clear{
    clear:both;
}
.fixed {
    position:fixed;
    top:0;
    left: 0;
    right: 0;
}

.navbar {
    margin-bottom: 0;
    z-index: 999;
}

section{
    p{
        text-align: justify;
        display: inline-block;
    }

}

.intro-section{
    .tools-box {
        margin-bottom: 20px;
        display: inline-block;
        text-align: center;

        .t1, .t2, .t3, .t4, .t5, .t6, .t7, .t8, .t9, .t10 {
            background: url(../img/technology.png) no-repeat ;
            width: 78px;
            height:70px;
            float: left;
        }
        .t1{
            background-position: 0 12px;
        }
        .t2{
            background-position: 0 -63px;
        }
        .t3{
            background-position: 0 -470px;
        }
        .t4{
            background-position: 0 -136px;
        }
        .t5{
            background-position: 0 -230px;
        }
        .t6{
            background-position: 0 -300px;
        }
        .t7{
            background-position: 0 -381px;
        }
        .t8{
            background-position: 0 -608px;
        }
        .t9{
            background-position: 0 -665px;
        }
        .t10{
            background-position: 0 -542px;
        }

    }

}


@media(min-width:767px) {
    .navbar {

        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

.intro-section {
    height: auto;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.about-section {
    height: auto;
    padding: 50px 0;
    text-align: center;
    background: #eee;

    img{
        display: inline-block;
    }

    .download-cv{
        padding-top: 20px;

        i {
            font-size: 20px;
        }
    }
}

.services-section {
    height: auto;
    padding-top: 150px;
    text-align: center;
    background: #2978ad;
    color:#fff;
    .thumbnail{
        .caption{
            display: block;
            position: absolute;
            top: 0;
            background: #000;
            opacity: 0.8;
            z-index: 9999;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            h4{
                color: #fff;
                opacity: 1;
            }
            i{
                font-size: 20px;
                color: #fff;
                clear: both;
                flex-grow: 1;
            }
        }
    }
}

.contact-section {
    height: auto;
    padding: 150px 0;
    text-align: center;
    background: #7F8FB1;
    font-family: 'Lato', sans-serif;
    letter-spacing: .55em;
    p{
        font-size: 12px;
        font-weight: bold;
    }

    .ico-col{
        text-align: center;
        p{
            text-align: center;
            display: block;
        }

        i{
            font-size: 22px;
        }

        .social{
            padding-top: 15px;
        }
    }
    .localisation{
        cursor: pointer;
    }

    .sendd{
        cursor: pointer;
    }

    .close{
        float: right;
        padding-bottom: 15px;
    }
    .form-horizontal{
        clear: both;
    }
    .btn-popup {
        background: #000;
        border: none;
        padding: 5px 30px;
        color: #fff;
    }

}

.hidden-popup{
    background: #2978ad;
    padding: 20px 30px 20px 5px;
    position: absolute;
    display: none;
    width: 100%;
    top: -85px;
}

.container-map{
    width:100%;
    margin:0;
    padding: 0;
    .localisation {
        padding: 20px 0;
        cursor: pointer;
        background: #eee;
    }
    .map{
        display: none;
    }
}

.skillbar {
    position:relative;
    display:block;
    margin-bottom:15px;
    width:100%;
    background:#eee;
    height:35px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -webkit-transition:0.4s linear;
    -moz-transition:0.4s linear;
    -ms-transition:0.4s linear;
    -o-transition:0.4s linear;
    transition:0.4s linear;
    -webkit-transition-property:width, background-color;
    -moz-transition-property:width, background-color;
    -ms-transition-property:width, background-color;
    -o-transition-property:width, background-color;
    transition-property:width, background-color;
}

.skillbar-title {
    position:absolute;
    top:0;
    left:0;
    width:110px;
    font-weight:bold;
    font-size:13px;
    color:#ffffff;

    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.skillbar-title span {
    display:block;

    padding:0 20px;
    height:35px;
    line-height:35px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.skillbar-bar {
    height:35px;
    width:0px;
    background:#2978ad;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

.skill-bar-percent {
    position:absolute;
    right:10px;
    top:0;
    font-size:11px;
    height:35px;
    line-height:35px;
    color:#ffffff;
    color:rgba(0, 0, 0, 0.4);
}

.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
    img {
        width: 100%;
    }
}

